body {
    font-family: Verdana, sans-serif;
}
.mySlides {
    display: none;
}
.slideshow-container img {
    border: 5px solid #555;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.9s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Slide-in animation */
@keyframes slidein {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slidein 1s ease-out;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}
