<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Student</title>
    <link rel="stylesheet" href="/CSS/CreateStudent.css">
    <link rel="stylesheet" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="logo">
            <img src="/Images/NmimsLogo.jpg" alt="NMIMS Logo">
            <div class="Uname">
                <h1>MUKESH PATEL SCHOOL OF TECHNOLOGY AND MANAGEMENT ENGINEERING</h1>
            </div>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}"  class = "header-link">Home</a></li>
                <li><a href="/createstudent"  class = "header-link">Create Student</a></li>
                <li><a href="/viewstudent"  class = "header-link">View Student</a></li>
                <li><a href="#"  class = "header-link">CONTACT US</a></li>
                <li><strong><div id="time"></div></strong></li>
            </ul>
        </nav>
    </header>

    <div class="Forms">
        <center><h2>Create Student</h2></center>
        <form id="student-form" th:action="@{/createstudent}" th:object="${student}" method="post" onsubmit="return formValidation();">
            <input type="hidden" id="student-id" th:field = "*{id}" name="student-id" value="" />
            <div class = "Contact">
                <label for="Sname">Name:</label>
                <input type="text" id="Sname" name="Sname"  th:field="*{name}" placeholder="Enter your name"/>
                <p id = "Sname-error" class = "Error"></p>
            
            </div>
    
            <div class = "Contact">
                <label for="email">Email:</label>
            <input type="email" id="Email" name="Email" th:field="*{email}" placeholder="Enter your email" />
            <p id = "Emailid-error" class = "Error"></p>
            </div>
            
            <div class = "Contact">
            <label for="Phone">Phone No:</label>
            <input type="tel" id="Phnno" name="Phnno" th:field="*{phoneNo}" placeholder="Enter your Phone No" />
            <p id = "Phnno-error" class = "Error"></p>
            </div>
            
            <div class = "Buttons">
                <button type="submit">Create</button>
            <button type="reset" id="reset-button">Reset</button>
            </div>
            
        </form>
    </div>
    <!-- FOOTER -->
    <footer class="footers">
        <div class="list">
            <ul>
                <h3>Campuses</h3>
                <li>Mumbai</li>
                <li>Bengaluru</li>
                <li>Shipur</li>
                <li>Hyderabad</li>
                <li>Indore</li>
                <li>Navi Mumbai</li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <h3>Administration</h3>
                <li>Chancellor</li>
                <li>Vice Chancellor</li>
                <li>Pro-Vice Chancellor</li>
                <li>University Administration</li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <h3>Contact Us</h3>
                <li>Phone No:  02563-295545/46/47/48/49</li>
                <li>Email id: <a href="mailto:shirpur@nmims.edu">shirpur@nmims.edu</a></li>
                <li>University Administration</li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <h3>Other Links</h3>
                <li>University Home</li>
                <li>AICTE Approvals</li>
                <li>Research</li>
                <li>Corporate</li>
            </ul>
        </div>
    </footer>
    <script src="/JS/Header.js"></script>
    <script src = "/JS/CreateStudent.js"></script>
</body>
</html>
